<section class="offers">
    <div class="container mx-auto pt-12 w-full md:w-2/3">        
        <% if(offers.length){ %>
            <h1 class="font-bold text-lg mb-4">All Offers 😃</h1>
            <div class="offer-list">
                <% for(offer of offers){ %>
                <div class="flex items-center my-8">
                    <img class="w-24" src="/img/cake.png">
                    <div class="flex-1 ml-4">
                        <h1>Flat <%=offer.discountPercent%>% Off!</h1>
                        <span><%=offer.description%>!</span>
                    </div>
                    <span class="flex-1">minimum order-> <%=offer.minimumOrderAmt%></span>
                    
                    <span class="flex-1 font-bold text-xs">Terms and condition apply.</span>
                    <% if(user){ %> 
                        <% if(user.role=='admin'){ %> 
                        <form action="/deleteoffer" method="POST">
                            <input type="hidden" name="couponCode" value="<%=offer.couponCode%>">
                            <button type="submit" class="rounded-full px-4">
                                <i class="las la-trash-alt la-2x px-4 py-1"></i>
                            </button>
                        </form>
                    <% }} %> 
                </div>
                <% } %> 
            </div>
        <% }else{ %>
            <div class="empty-cart py-16">
                <div class="container mx-auto text-center">
                    <h1 class="text-3xl font-bold mb-2">No Offers for now! 😕</h1>
                    <p class="text-gray-500 text-lg">There is no offers available atleast for now.<br>
                        To add a cake, go to the main page.</p>
                    <img class="w-4/5 mt-12 mx-auto" src="/img/nooffer.png">
                    <a class="inline-block px-6 py-2 rounded-full font-bold text-white btn-primary mt-12" href="/">Go back</a>
                </div>
            </div>
        <% } %>  
        <% if(user){ %>
            <%if(user.role==='admin'){%>
                <div class="py-3 offer-adder">
                    <div class="container mx-auto text-center">
                        <% if(messages.success){ %> 
                            <span class="text-green-500 text-sm"><%=messages.success%></span>
                            <br>
                        <% } %>
                        <button id="formadder" class="inline-block px-6 py-2 rounded-full font-bold text-white btn-primary mb-12">
                            <span>Add Offers</span>
                        </button>
                        <br>
                        <% if(messages.error){ %> 
                            <span class="text-red-500 text-sm"><%=messages.error%></span>
                        <% } %>
                    </div>
                </div>
            <% } %> 
        <% } %>
    </div>
</section>