<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if(messages.success){ %> 
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <p><%= messages.success %> </p>
        </div>
        <% } %> 
        <table class="w-full table-auto bg-white">
             <thead>
                 <tr>
                     <th class="text-left px-4 py-2">Orders</th>
                     <th class="text-left px-4 py-2">Phone</th>
                     <th class="text-left px-4 py-2">Address</th>
                     <th class="text-left px-4 py-2">Time</th>
                 </tr> 
             </thead>
             <tbody>
                 <% if(orders.length){ %>
                    <% for(let order of orders){ %>  
                        <tr>
                            <td class="px-4 py-2 border">
                                <a class="link" href="/customers/orders/<%=order._id%>"><%= order._id %> </a>
                            </td>
                            <td class="px-4 py-2 border">
                                <%= order.phone %> 
                            </td>
                            <td class="px-4 py-2 border">
                                <%= order.address %> 
                            </td>
                            <td class="px-4 py-2 border">
                                <%= moment(order.createdAt).format('hh:mm A') %> 
                            </td>
                        </tr>
                    <% } %> 
                 <% } else { %>
                    <tr>
                        <td class="px-4 py-2 font-bold">
                            No orders found!
                        </td>
                    </tr>
                 <% } %>  
             </tbody>
        </table>
    </div>
</section>